.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landingPageContainer nav{
padding-inline: 1.2rem;
padding-block: 1.6rem;
display: flex;
justify-content: space-between;
}

.landingPageContainer nav h2{
font-size: 1.8rem;
font-weight: 500;
}

.landingPageContainer nav .navlist{
display: flex;
gap: 1.6rem;
font-weight: 500;
cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) h1{
  font-size: 2.5rem;
  font-weight: 500;
}

.landingMainContainer > div:nth-child(1) p{
  font-size: 1.5rem;
  font-weight: 300;
}

.landingMainContainer > div:nth-child(1) div{
  margin-top: 20px;
  width: fit-content;
  background-color: #c20c52;
  padding: 1rem;
  border-radius: 20px;
}

.landingMainContainer > div:nth-child(2) img {
  width: 650px;
  height: auto;
  object-fit: contain;
}

.landingMainContainer > div:nth-child(1) div a{
color: #2B104E;
font-size: 1.5rem;
font-weight: 800;
}